{erl_opts, [debug_info]}.
{deps, []}.
{test_dirs, ["lab_1/test"]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [lab_1]}
]}.
{eunit_tests, [{module, tests_euler_9}, {module, tests_euler_22}]}.

{project_plugins, [
    rebar3_lint, erlfmt
]}.

{erlfmt, [
    {print_width, 90},
    {files, [
        "{src,test}/*.{erl,src}",
        "rebar.config",
        "elvis.config",
        "src/*/*.erl"
    ]}
]}.